{% extends 'base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}" >
{% endblock %}


{% block title %}
To Do App
{% endblock %}



{% block content %}

<div class="container">

	
	
	<br>
	<p class="h1 font-weight-bolder text-center">Organize it all with TodoList</p>
	<br><br>
	{% if user.is_authenticated %}
	<center><input type="button" class="btn btn-primary" onclick="window.location.href='{% url 'list' %}';" value="Get Started" /></center>
	{% else %}
	<center><input type="button" class="btn btn-primary" onclick="window.location.href='{% url 'login' %}';" value="Get Started" /></center>
	{% endif %}
	<br>

<!-- 	<div class="h1">
	{% if user.is_authenticated %}
		
		<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
		<p>Username: {{ user.username }}</p>
		<p>Email: {{ user.email }}</p>

	{% endif %}
	</div> -->


</div>
{% endblock %}