{% extends 'base.html' %}

{% block title %}
ORGANISER | List
{% endblock %}



{% block content %}
<div class="container">
<br><h1>Your ToDo-List</h1>
	<div>
 	<br/>
    <form class="input-group mb-3" method="POST">
    	{% csrf_token %}
	  <input type="text" class="form-control" placeholder="Add to Do List" aria-label="Add to Do List" aria-describedby="button-addon2" name="item" required>
	  <div class="input-group-append">
	    <button class="btn btn-outline-primary" type="submit" formmethod="post" id="button-addon2"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> ADD</button>
	  </div>
	</form>
<br>

{% if all_items %}
	<br>
	<ul class="list-group">
		<li href="#" class="list-group-item list-group-item-action active">
	    To-DO List
	  </li> 
		   
	    
	  	
	{% for things in all_items %}
		{% if things.completed %}
			<li class="list-group-item d-flex justify-content-between list-group-item-action">
				<a class="list-group-item-action striker" href="{% url 'edit' things.id %}">{{ things.item }}</a>
				<div class="d-flex"><a href="{% url 'uncross' things.id %}"><i class="fa fa-minus-circle fa-lg ml-2" aria-hidden="true"></i> </a>
				<a href="{% url 'delete' things.id %}"><i class="fa fa-trash fa-lg ml-4" aria-hidden="true"></i></a></div>
			</li>

		{% else %}
			<li class="list-group-item d-flex justify-content-between list-group-item-action">
				<a class="list-group-item-action" href="{% url 'edit' things.id %}">{{ things.item }}</a>
				<div class="d-flex" ><a href="{% url 'cross_off' things.id %}"> <i class="fa fa-flag-checkered fa-lg ml-2" aria-hidden="true"></i>  </a>
				<a href="{% url 'delete' things.id %}"><i class="fa fa-trash fa-lg ml-4" aria-hidden="true"></i></a></div>
			</li>

		{% endif %}

	{% endfor %}
	</ul>
	</table>
{% endif %}

</div>
{% endblock %}